/* LAYOUTS PRINCIPAIS */

/* TURMAS */
.turmas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--light-blue);
}

.turmas h1 {
    align-self: center;
    margin-top: 80px;
    margin-bottom: 80px;
    color: var(--white);
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
    border-bottom: solid 3px var(--light-green);
}

.turmas_lista {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}


#lista_card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    gap: 30px;
}

.turma_card {
    width: 350px;
    overflow: hidden;
    border-radius: 25px;
    background: var(--mid-green) ;
    border: 1px solid var(--terciary);
    transition: 0.4s ease;
}

.turma_card:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.turma_card img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    background-color: var(--white);
}

.content_card {
    padding: 28px;
}

.content_card h3 {
    text-align: center;
    color: var(--white);
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
}

.content_card p {
    text-align: center;
    font-size: 1.2rem;
    color: var(--white);
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
}

/* CONHEÇA */
.conheca {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
}

.conheca h1 {
    margin-top: 80px;
    margin-bottom: 80px;
    color: var(--white);
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
    border-bottom: solid 3px var(--light-green);
}

.conheca ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    gap: 10px;
    font-size: 1.5rem;
}

.conheca ul a {
    color: var(--white);
}

/* ABOUT US */

.about_us_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--terciary);
}

.about_us_container h1 {
    margin: 80px 0;
    color: var(--white);
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
    border-bottom: solid 3px var(--light-green);
}

.timeline_container {
    display: flex;
    flex-direction: column;
    border-top: 3px solid var(--light-green);
    background-color: var(--off-white);
}

.timeline_left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin: 80px ;
}

.timeline_left p {
    position: relative;
    right: 100px; 
    padding: 150px;
    font-size: 1.3rem;
    border-radius: 25px;
}

.timeline_right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin: 80px;
}

.timeline_right p {
    position: relative;
    left: 100px; 
    padding: 150px;
    font-size: 1.3rem;
    border-radius: 25px;
}

.timeline_img {
    max-width: 60%;
    justify-self: center;
    border-radius: 20px;
    background-color: var(--terciary);    
}