/* VARIÁVEIS */

:root {
    /* Cores primárias */
    --primary: #b9d8f5;
    --secondary: #25C5F9;
    --terciary: #1a3daf;
    --white: #fff;
    --off-white: #f0eeee;
    --light-green: #B2D589;
}